[submodule "HID"]
	path = HID
	url = https://github.com/NicoHood/HID
	branch = master
[submodule "arduino-cmsis-dap"]
	path = arduino-cmsis-dap
	url = https://github.com/myelin/arduino-cmsis-dap.git
	branch = master
